<!DOCTYPE html>
<html>
  <head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.2.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async="async"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <div>The thoughts of G. Allen Morris III</div>
    <section>
      <%= yield %>
    </section>
    <footer>powered by
    <a href="http://github.com/gam3">gam3</a></footer>
  </body>
</html>
